:root {
  --input-bg: #f2f2f4;
  --dark: #37364b;
  --placeholder-color: #777;
  --text: var(--dark);
  --text-secondary: #666;
  --accent: $accent;
  // --accent-cc: #fb5369cc;
  --bg: #fff;
  --bg-slider: #ccc;
  --dark: #101626;
  // --bg-backdrop : ;
  --input-bg-backdrop: #eeeef0aa;
  --border-radius: 14px;
}
